[submodule "third_party/moonlight-common-c"]
	path = third_party/moonlight-common-c
	url = https://github.com/moonlight-stream/moonlight-common-c.git
[submodule "third_party/nanogui"]
	path = third_party/nanogui
	url=git@github.com:rock88/nanogui.git
