[submodule "third_party/moonlight-common-c"]
	path = third_party/moonlight-common-c
	url = https://github.com/moonlight-stream/moonlight-common-c.git
[submodule "third_party/nanogui"]
	path = third_party/nanogui
	url=https://github.com/rock88/nanogui.git
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json.git
[submodule "third_party/libuuid"]
	path = third_party/libuuid
	url = https://github.com/fadedreamz/libuuid.git
